.b-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F5F5F5;
    border-top: 1px solid #DDD;
    font-size: 11px;
    color: #999;
    text-shadow: 1px 1px 0 #FFF;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
}

.b-footer .inner {
    padding: 5px;
}




