<div class="row-fluid">
    <div class="span6 offset3">

        <form class="import well">

            <h2>Импорт данных</h2>

            <div class="control-group">
                <div class="controls">
                    <span class="help-blocke">Вы можете импортировать данные в формате JSON.</span>
                    <textarea name="import-json" class="span12" rows="18"></textarea>
                </div>
            </div>

            <div class="control-group">
                <button class="btn btn-inverse btn-large" type="submit">Импортировть</button>
            </div>

        </form>

    </div>
</div>