<div class="row-fluid">
    <div class="span6 offset3">

        <form class="export">

            <div class="control-group">
                <button class="btn btn-inverse btn-large btn-block" type="submit">Экспортировать данные</button>
                <span class="help-blocke">Данные будут экспортированы в формате JSON, вы сможете сохранить их в файл и импортировать позднее.</span>
            </div>

            <textarea class="export-json span12" rows="18"></textarea>

        </form>

    </div>
</div>