.b-content-area {
    height: 100%;
    position: relative;
    z-index: 50;
}

.b-content-area .content-area-inner {
    overflow-y: auto;
    position: absolute;
    top: 180px;
    bottom: 70px;
    left: 0;
    right: 0;
}