<div class="row-fluid header-content">
    <div class="span4 offset1"><div class="inner">
        <h1><a href="/" class="s s-logo">ШРИ</a></h1>
    </div></div>
    <div class="span2"><div class="inner">
        <!--<div class="btn-group">-->
            <!--<a class="btn btn-info" href="#"><i class="icon-user icon-white"></i> User</a>-->
            <!--<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a><i class="icon-pencil"></i> Стушатель</a></li>-->
                <!--<li><a><i class="icon-trash"></i> Администратор</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div></div>
</div>


<div class="header-toolbar-wrapper row-fluid"></div>

