<div class="span4"><div class="inner">
    <h1><a href="/" class="s s-logo">Расписание</a></h1>
</div></div>
<div class="offset6 span2"><div class="inner">
    <div class="btn-group">
        <a class="btn btn-info" href="#"><i class="icon-user icon-white"></i> User</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a><i class="icon-pencil"></i> Стушатель</a></li>
            <li><a><i class="icon-trash"></i> Администратор</a></li>
        </ul>
    </div>
</div></div>
